{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!-- Page Title -->
  <div class="page-title dark-background">
    <div class="heading">
      <div class="container">
        <div class="row d-flex justify-content-center text-center">
          <div class="col-lg-8">
            <h1 class="heading-title">Check Out Our Menu</h1>
          </div>
        </div>
      </div>
    </div>
    <nav class="breadcrumbs">
      <div class="container">
        <ol>
          <li>
            <a href="index.html">Home</a>
          </li>
          <li class="current">Menu</li>
        </ol>
      </div>
    </nav>
  </div>
  <!-- End Page Title -->
  <!-- Menu Section -->
  <section id="menu" class="menu section">
    <!-- Section Title -->
    <div class="container section-title">
      <h2>Menu</h2>
      <div>
        <span>Check Our Tasty</span> <span class="description-title">Menu</span>
      </div>
    </div>
    <!-- End Section Title -->
    {% if messages %}
      <div class="messages">
        {% for message in messages %}
          <div class="message alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
      </div>
    {% endif %}
    <div class="container isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">
      <!-- Menu Filters -->

      <div class="row isotope-container">
        {% for menu in menu_item %}
          <div class="col-lg-6 menu-item isotope-item filter-starters">
            <img src="{% static 'assets/img/menu/lobster-bisque.jpg' %}" class="menu-img" alt="" />
            <div class="menu-content">
              <a href="{% url 'restaurant:single_menu' menu.id %}">{{ menu.name }}</a><span>${{ menu.price }}</span>
            </div>
            <div class="menu-ingredients">{{ menu.description }}</div>
          </div>
        {% endfor %}
        <!-- Menu Item -->
      </div>
      <!-- Menu Container -->
    </div>
  </section>
  <!-- /Menu Section -->
{% endblock %}
